BUILD/static/
BUILD/node_modules/
.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
swruk.zip
debug.log
BUILD/wordpress/google.json
.env
.idea/
/vendor/
