.event {

	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

	h1 {
		font-size: 1.7em;

		@include respond($BREAKPOINT_M) {
			font-size: 2em;
		}
	}

	.free-text-content {
		@include respond($BREAKPOINT_M){
			padding-top: 0;
		}
	}

	.image {

		img {
			width:100%;
			box-shadow: 0px 0px 3px 2px #ffffff;
			margin: 0 auto;
			max-width: 700px;
		}
	}

	.details {
		margin-top: 20px;
		dl {
			width: 100%;
			overflow: hidden;
		}

		dt {
			font-family: $TITLE_FONT_FAMILY;
			font-size: 1.2em;
			width:80px;
			clear: left;
			float: left;
		}
	}

	.text {
		@include span-columns(12);

		@include respond($BREAKPOINT_L){
			@include span-columns(9);
		}
	}

	.event-content {
		width:100%;
	}



	.facebook-button {
		clear: left;
	}

	h2:first-child {
		margin-top:0;
	}

	.supporting-orgs {
		h2 {
			margin-bottom: 0px;
		}

		padding-bottom: 20px;

		ul {
			margin: 0 auto;
			padding: 0;
			list-style-type: none;

			// @include respond($BREAKPOINT_M){
			// 	@include columns(2);
			// }

			// @include respond($BREAKPOINT_L){
			// 	@include columns(3);
			// }
		}
	}

	.why-text {
		max-width: 1000px;
	}

	#details {
		@include respond($BREAKPOINT_L){
			width: 50%;
			float: right;
		}
	}

	#why {
		@include respond($BREAKPOINT_L){
			width: 47%;
			float: left;
		}
	}

	#supporting-orgs {
		@include respond($BREAKPOINT_L){
			width: 50%;
			float: right;
		}

		.facebook-button {
			@include respond($BREAKPOINT_L){
				display: none;
			}
	
	
		}
	}

	.js & .tabpanel > h2 {
		display: none;
	}

	.clear {
		clear: both;
	}
}
