.home-section {

  padding-bottom: $CONTENT_PADDING;
  position:relative;
  background:transparent;
  overflow: hidden;

  p, h4, h3, h2 {
	padding:0 $CONTENT_PADDING;
  }

  & > *:first-child {
	margin-top:0;
  }

  & > *:last-child {
	margin-bottom:0;
  }

  @include respond($BREAKPOINT_XL) {
	margin-top:$CONTENT_PADDING;
  }

}

.home-section.who {
  overflow: hidden;
  width:100%;

  & > *:first-child{
	margin-top:1em;
  }

  p:first-of-type {
	font-size: 1.2em;
  }

	img {
	  width:100%;
	  box-shadow: 0px 0px 10px 1px black;
	}

  @include respond($BREAKPOINT_L){
	@include span-columns(12);
	@include omega;

	  img {
		  float:left;
		  width:60%;
		  margin:5px 20px 10px 0;
	  }
  }

  @include respond($BREAKPOINT_XL) {
	@include reset-all;
	@include span-columns(6);

	p{
	  width:40%;
	  float:right;
	  clear:right;
	}

  }



}

.home-section.news {
	h3 {
	  margin-bottom:0;
	}

  p {
	margin-top:0.5em;
  }
}

.home-section.facebook{

  .facebook-container{
	width:100%;
	max-width: 340px;
	margin:0 auto;
  }

  .facebook-container.full {
	display:none;
  }

}

.home-section.twitter{
  h1{
	margin-bottom:0;
  }
}

.news-facebook-column {

  @include respond($BREAKPOINT_L) {
	@include reset-all;
	@include span-columns(8);

	& .facebook, & .news {
	  @include span-columns(4 of 8);
	}


  }
}


.home--new {
	.home-section.who {
		p:first-child {
			margin-top: 0;

			a:hover {
				background-color: transparent;
			}
		}

		img {
			width: 100%;
			float: none;
		}

		a.button {
			margin-right: $CONTENT_PADDING*2;
		}
	}

	.promo {
		background-color: $HOME_PROMO_BG;
		margin: $CONTENT_PADDING 0;
		padding: $CONTENT_PADDING/2 $CONTENT_PADDING;
		box-shadow: 0px 10px 5px -5px rgba(0,0,0,0.3);

		@include respond($BREAKPOINT_M){
			margin: 0;
		}

		h1.banner-heading {
			background-color: transparent;
			margin: 0;
			padding: 0;
		}

		p {
			padding: 0;
		}

		a {
			color: white;
		}

		a.button {
			color: $DEFAULT_LINK_COLOR;
		}
	}

	.facebook-container.small {
		@include respond($BREAKPOINT_M){
			display: none;
		}
	}

	.facebook-container.large {
		display: none;

		@include respond($BREAKPOINT_M){
			display: block;
		}
	}
}
